# Gradle
.gradle/
build/
bin/

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Bundle de distribution
*.bundle

# Journaux de crash de la JVM
hs_err_pid*.log
replay_pid*.log
